<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <div class="row mt-5 mx-auto">
      <div class="col-12 col-md-9 mx-auto">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <nav aria-label ="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                </ol>
            </nav>
            <a class="btn btn-sm btn-outline-dark" href="/movies/add"><i class="fa-solid fa-plus fa"></i>   Agregar una Pelicula</a>
          </div>
          <div class="card-body">
           
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Awards</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% movies.forEach((movie)=> { %>
                  <tr>
                    <th scope="row"><%= movie.id %></th>
                    <td><%= movie.title %></td>
                    <td><%= movie.rating %></td>
                    <td><%= movie.awards %></td>
                    <td>
                      <%= movie.genre ? movie.genre.name : 'Sin género' %>
                    </td>
                    <td>
                      <div class="d-flex gap-2">
                        <a
                          href="/movies/detail/<%= movie.id %>"
                          class="btn btn-sm btn-outline-dark"
                          ><i class="fas fa-eye"></i
                        ></a>

                        <a
                          href="/movies/edit/<%= movie.id %>"
                          class="btn btn-sm btn-outline-dark"
                        >
                          <i class="fas fa-edit"></i>
                        </a>

                        <button
                          type="button"
                          class="btn btn-sm btn-outline-dark"
                          data-bs-toggle="modal"
                          data-bs-target="#modalDelete<%=movie.id%>"
                        >
                          <i class="fas fa-trash"></i>
                        </button>

                        <div
                          class="modal fade"
                          id="modalDelete<%=movie.id%>"
                          tabindex="-1"
                          aria-labelledby="modalDeleteLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalDeleteLabel">
                                  Advertencia
                                </h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <p>
                                  ¿Estás seguro que querés eliminar la pelicula
                                  <b> <%= movie.title %> </b>?
                                </p>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Cancelar
                                </button>
                                <form
                                  action="/movies/delete/<%=movie.id%>?_method=DELETE"
                                  method="POST"
                                >
                                  <button type="submit" class="btn btn-danger">
                                    Eliminalo
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
